<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>com.e271.journal.ServletContextInit</listener-class>
    </listener>
    <servlet>
        <servlet-name>GetEntries</servlet-name>
        <servlet-class>com.e271.journal.servlets.GetEntries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEntry</servlet-name>
        <servlet-class>com.e271.journal.servlets.AddEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.e271.journal.servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.e271.journal.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPDF</servlet-name>
        <servlet-class>com.e271.journal.servlets.GetPDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetEntries</servlet-name>
        <url-pattern>/getEntries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEntry</servlet-name>
        <url-pattern>/addEntry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPDF</servlet-name>
        <url-pattern>/getPDF</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
